<!DOCTYPE html>
<html>

<%= render "common/header" %>

<div data-role="content">
  <form method="POST" action="<%= sessions_path %>" class="login_form">
    <ul data-role="listview" class="ui-listview ui-listview-inset ui-corner-all">
      <li data-role="fieldcontain">
        <div align="center">
          <label for="username"></label>
          <input name="user[username]" id="user_username" value="" required="true" placeholder="username"/>
        </div>
      </li>
      <li data-role="fieldcontain">
        <div align="center">
          <label for="password"></label>
          <input name="user[password]" id="user_password" value="" type="password" required="true" placeholder="password"/>
        </div>
      </li>
      <div align="center">
        <input type="submit" value="Login"/>
      </div>
    </ul>
  </form>
</div>
</html>