<!DOCTYPE html>
<html>

<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= weeks_path %>" data-theme="a" data-rel="">Back</a>

  <h1><%= "Total Points" %></h1>
</div>

<div data-role="content">
  <ul data-role="listview" id="comp-list">

    <div class="ui-grid-a" align="center">
      <br>
      Soon..
    </div>

  </ul>
</div>
</html>