<!DOCTYPE html>
<html>

<%= render "common/header" %>

<div data-role="content">
  <ul data-role="listview" id = "comp-list">
    <% @competitions.each do |competition| %>
    <li >
      <%= Date.parse(competition.close_date.to_s).strftime('%b %e %Y')%>
    </li>
    <% end %>
  </ul>
</div>
</html>