<!DOCTYPE html>
<html>

<%= render "common/header" %>

<div data-role="content">
<!--You are logged in. This is the competition page!-->
  <ul data-role="listview" id="comp-list">
    <% @competitions.each do |competition| %>
      <li>
        <a href="http://www.google.com"><%= competition['description'] %></a>
      </li>
    <% end %>
  </ul>

</div>
</html>
