<!DOCTYPE html>
<html>

<%= render "common/header" %>

<div data-role="content">
  <ul data-role="listview" id = "fix-list">
    <% @fixtures.each do |fixture| %>
    <li>
        <%= "#{ fixture.to_s }" %>
    </li>
    <% end %>
  </ul>
</div>
</html>