<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="#" data-rel="back" data-theme="a">Back</a>
  <h1><%= "Week #{@competition.week[4..6]}" %></h1>
</div>

<div data-role="content" >
  <ul data-role="listview" id = "fix-list">
    <% @fixtures.each do |fixture| %>
    <li>
      <%= "#{ fixture.to_s }" %>
      <br>
      <h10 class="kickoff">
        <%= DateTime.parse(fixture.kickoff.to_s).strftime('%A %e %B %Y %H:%M') %>
      </h10>
    </li>
    <% end %>
  </ul>
</div>
</html>