<!DOCTYPE html>
<html>

<%= render "common/header" %>

<div data-role="content">
  <ul data-role="listview" id = "comp-list">
    <% @fixtures.each do |fixture| %>
    <li>
        <%= "#{ fixture.home_team_id } #{ fixture.away_team_id }" %>
    </li>
    <% end %>
  </ul>
</div>
</html>