<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= weeks_path %>" data-theme="a" data-rel="">Home</a>

  <h1><%= 'Jobs' %></h1>
</div>
</html>

<p></p>
<% @jobs.each do |job| %>
    <div align="center">
      <%= form_for job, url: jobs_perform_path(job), :method => :post do |f| %>
          <%= f.submit job.humanize, {id: job.gsub(' ', ''), class: 'btn btn-large btn-primary'} %>
      <% end %>
    </div>
<% end %>
<p>
