<!DOCTYPE html>
<html>

<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= goals_galore_rounds_path %>" data-theme="a" data-rel="">Play</a>
  <h1><%= 'Goals Galore' %></h1>
</div>

<div class="info-txt" data-role="content">
  Select the fixtures you think both teams will score.
  <p></p>
  <li>10 pts for each correct prediction</li>
  <li>-15 pts for each incorrect prediction</li>
  <li>Entry £2.50</li>
  <li>Winner is the first to 150 pts</li>
  <li>Shared jackpot (if more than one winner)</li>
  <br>
  <p>
    Scoring examples:
  </p>
  <li>Correctly predicting 2 from 2 = 20 pts</li>
  <li>Correctly predicting 2 from 3 = 5 pts</li>
  <li>Correctly predicting 3 from 3 = 30 pts</li>
  <li>Correctly predicting 3 from 4 = 15 pts</li>
  <li>Correctly predicting 4 from 4 = 40 pts</li>
  <li>Correctly predicting 4 from 5 = 25 pts</li>
  <li>Correctly predicting 4 from 6 = 10 pts</li>
  <li>Correctly predicting 5 from 5 = 50 pts</li>
  <li>Correctly predicting 5 from 6 = 35 pts</li>
  <li>Correctly predicting 5 from 7 = 20 pts</li>
  <li>Correctly predicting 5 from 8 = 5 pts</li>
  <li>Correctly predicting 5 from 9 = 0 pts</li>
  <li>Correctly predicting 6 from 7 = 45 pts</li>
  <li>Correctly predicting 6 from 8 = 30 pts</li>
  <p></p>
</div>

<%= render 'common/footer' %>

</html>
