<div class="ui-grid-b" style=padding:5px>
  <div class="ui-block-a player-font" style="width:100%" align="center">
    <%= "An extra #{ENVIRONMENT_CONFIG['bonus_amount']}pts will be awarded to people within the #{ENVIRONMENT_CONFIG['bonus_threshold']}% correct" %>
  </div>
</div>
