<div class="ui-grid-b">
  <p>
  <div class="ui-block-a" style="width:48%;padding-right:10px;" align="center">
    <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/badge/#{@fixture.home_team.abbreviation}.png", class: "badge-size" %>
    <br>
    <%= @fixture.home_team.name.upcase %>
  </div>
  <div class="ui-block-b" style="width:4%" align="center">
    <h8 class="bet-versus">
      VS
    </h8>
  </div>
  <div class="ui-block-c" style="width:48%;padding-left:10px" align="center">
    <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/badge/#{@fixture.away_team.abbreviation}.png", class: "badge-size" %>
    <br>
    <%= @fixture.away_team.name.upcase %>
  </div>
</div>