<div class="ui-grid-b" style=padding:30px>
  <% competition_type = ENVIRONMENT_CONFIG[ENVIRONMENT_CONFIG['competition']]['type'] %>
  <p>
  <div class="ui-block-a" style="width:45%" align="center">
    <%= image_tag "#{ENVIRONMENT_CONFIG[competition_type]['badge_path']}#{@fixture.home_team.abbreviation}.png", class: "badge-size" %>
    <br>
    <%= @fixture.home_team.name.upcase %>
  </div>
  <div class="ui-block-b" style="width:10%" align="center">
    <h8 class="bet-versus">
      VS
    </h8>
  </div>
  <div class="ui-block-c" style="width:45%" align="center">
    <%= image_tag "#{ENVIRONMENT_CONFIG[competition_type]['badge_path']}#{@fixture.away_team.abbreviation}.png", class: "badge-size" %>
    <br>
    <%= @fixture.away_team.name.upcase %>
  </div>
</div>