<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed">
  <a href="<%= lm_points_path %>" class="ui-btn-left" data-theme="a" data-rel="">Back</a>
  <h1><%= "#{@user.name} LMS" %></h1>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @rounds.each do |round| %>
        <% @round = round %>
        <li class="custom-list">
          <% @lm_bet = LmBet.bets_for_user_and_round(@user, round).first %>
          <%= render 'round_info' %>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
