<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= lm_rounds_path %>" data-theme="a" data-rel="">Back</a>

  <h1><%= "Last Man Standing" %></h1>
</div>

<div class="info-txt" data-role="content">

  Pick the winner of one Premier League match each week.

  <p>
    If your selection wins you progress to the next week, lose or draw and you're out.

  <p>
    You cannot pick the same team to win more than once per competition.

  <p>
    There is only one winner - the person left after everyone else is out.

  <p>
    Should two or more people remain standing and are eliminated in the same week, the prize will roll over to the
    next competition.

  <p>
    In the event that any match involving a team you have selected is postponed or cancelled, you will continue to the
    next round.

</div>
<%= render "common/footer" %>
</html>
