<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= lm_rounds_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%= 'Last Man Standing 1' %></h1>
</div>

<div class="info-txt" data-role="content">

  Pick a winning team of one Premier League match each week.

  <p>
    Only if your team selection wins, can you progress to the next round.

  <p>
    You cannot select the same team more than once per competition.

  <p>
    The winner is the single person left after everyone else is out.

</div>
<%= render 'common/footer' %>
</html>
