<div class="ui-grid-b">

  <div class="ui-block-a main-font" style="width:68%">
    <%= "Round #{@round.id.to_s.rjust(2, '0')}" %>
    <% if @round.week.status == 'In play' %>
        <span class="label label-warning">in play</span>
    <% elsif @round.week.status == 'Open' %>
        <span class="label label-success">open</span>
    <% end %>
    <br>
    <h10 class="kickoff">
      <%= "#{DateTime.parse(@round.week.close_date_local_time.to_s).strftime('%e %B %H:%M')}" %>
    </h10>
  </div>

  <div class="ui-block-b main-font" style="width:12%">
    <div class="label selection-count">

    </div>
  </div>

  <div class="ui-block-c" align="center" style="width:20%">
    <% round_points_value = @points.for_user_and_round(@user.id, @round.id).first.try(:value) || 0 %>
    <%= image_tag 'event/football-green.png', class: 'ball-medium' if round_points_value > 0 %>
  </div>

</div>
