<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed" data-tap-toggle="false">
  <a href="<%= points_path %>" class="ui-btn-left" data-theme="a" data-rel="">Back</a>

  <h1>Winners</h1>
</div>

<% if ENVIRONMENT_CONFIG['winners_frequency'] == Winner::Frequency::WEEKLY %>
    <%= render 'weekly' %>
<% else %>
    <%= render 'monthly' %>
<% end %>
<%= render 'common/footer' %>

</html>
