<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= gb_points_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%= 'Goal Buster' %></h1>
</div>

<div class="info-txt" data-role="content">
  The first team to score a total of exactly 11 goals over a number of fixtures.
  <p></p>
  Each person is given a unique team by random from a pot of premiership teams when joining.
  <p></p>
  It's £1 to play with a £20 jackpot.
  <p></p>
  If a team scores which takes their total goals to more than 11, they will remain on the number of goals
  they had before the fixture took place e.g. If your team has 10 goals and scores 2 goals in their next fixture, they
  will remain on 10 goals and cannot win until they score just 1 goal in a future fixture.
  <p></p>
  If more than one team reaches a total of 11 goals in the same week, the winner is the team that is first to reach 11 goals
  in their last match. e.g. Team A reaches 11 on Saturday at 60 minutes and Team B reaches 11 on Monday at 30 then
  Team B would be the winner.
</div>
<%= render 'common/footer' %>
</html>
