<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= fixture_bets_info_path(@fixture.week.id, @fixture.id) %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Fixture #{@fixture.id.to_s.rjust(3, '0')} Scorers" %></h1>
</div>

<div class="ui-grid-a" style=padding:30px>
  <div class="info-txt-clear">
    <% @scorers.each do |scorer| %>
        <%= "#{scorer.team.name} - #{scorer.name}" %>
        <br>
    <% end %>
  </div>
</div>

<%= render 'common/footer' %>
</html>
