<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= weeks_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%= 'Players' %></h1>
</div>


<%= render 'common/footer' %>
</html>
