.points_sml {
    font-size: .8em;
    color: #979797;
    position: relative;
    top: 7px;
}

.lm_team {
    font-size: .8em;
    color: black;
    position: relative;
    top: 7px;
}

.leaderboard {
    font-size: .7em;
}

.spot_on {
    color: gold;
}

.correct {
    color: limegreen;
}

.wrong {
    color: #e00000;
}

.open {
    color: green;
}

.ui-header .ui-title {
    overflow: visible !important;
}

.fixture .content {
    float: left;
}

.fixture .ui-btn-text {
    position: static;
}

.fixture .choice_value {
    float: right;
    padding-top: 3px;
    margin-right: -5px;
}

.choice_value {
    color: #686868;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: 39px;
    text-align: right;
    font-size: 18px;
}

.fixture.correct:not(.ui-btn-active) span, .fixture.correct:not(.ui-btn-active) div:not(.content) {
    color: #32cd32;
}

.fixture.wrong:not(.ui-btn-active) span, .fixture.wrong:not(.ui-btn-active) div:not(.content) {
    color: red;
}

.kickoff {
    font-size: .8em;
    position: relative;
    top: 2px;
    color: #979797;
}

.scores-small {
    font-size: .7em;
    position: relative;
    top: 2px;
    color: #404040;
}

.main-font {
    font-size: 14px;
    text-shadow: none !important;
}

.player-font {
    font-size: 12px;
    text-shadow: none !important;
    position: relative;
    top: 6px;
}

.fixture-date {
    font-size: 12px;
    color: #979797;
    text-shadow: none !important;
}

.fixture-teams {
    font-size: 11px;
    /*font-weight: bold !important;*/
    color: #404040;
    position: relative;
    top: 7px;
}

.fixture-bet {
    font-size: 14px;
    color: #404040;
    position: relative;
    top: 4px;
}

.fixture-score {
    font-size: 12px;
    position: relative;
    top: 6px;
}

.error-font {
    font-size: 14px;
    color: red;
}

.event-font {
    font-size: 11px;
}

.big-score {
    font-size: 14px;
}

.info-txt {
    font-size: .7em;
    color: #686868;
    background: white;
}

.info-txt-clear {
    font-size: .7em;
    color: #686868;
}

.points-user {
    font-size: .9em;
}

.player-goals {
    font-size: .9em;
}

.bet-versus {
    font-size: .9em;
    line-height: 6em;
}

.bet-form {
    display: inline-block;
    width: 1.6em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: .7rem;
    padding: 0px 0.1em;
    text-shadow: 0px 0px 0px #4d4d4d;
}

.badge-size {
    max-width: 100px;
    max-height: 80px;
}

.strip-size {
    max-width: 13px;
    max-height: 13px;
}

.badge-big {
    max-width: 32px;
    max-height: 32px;
}

.badge-medium {
    max-width: 24px;
    max-height: 24px;
}

.badge-small {
    max-width: 12px;
    max-height: 12px;
}

.player-badge-size {
    max-width: 16px;
    max-height: 16px;
}

.percent-points {
    font-size: .7em;
    color: #979797;
}

.payout-icon {
    color: #C9960C
}

.current_user {
    font-weight: bold !important;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    text-shadow: none;
}

.label[href]:hover,
.label[href]:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.label-default {
    background-color: #999999;
    margin: 0 0 0 5px;
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #808080;
}

.label-primary {
    background-color: #428bca;
    margin: 0 0 0 5px;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #3071a9;
}

.label-success {
    background-color: #5cb85c;
    margin: 0 0 0 5px;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #449d44;
}

.label-info {
    background-color: #5bc0de;
    margin: 0 0 0 5px;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #31b0d5;
}

.label-warning {
    background-color: #f0ad4e;
    margin: 0 0 0 5px;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}

.label-danger {
    background-color: #d9534f;
    margin: 0 0 0 5px;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #c9302c;
}

div.ui-btn, input[type="submit"] {
    width: 180px !important;
    border: 0px;
    border-color: lightgrey !important;
    margin: 5px auto 5px auto;
}

.custom-li {
    padding: 0 !important;
    border-width: 0 !important;
}

.custom-bottom-li {
    border-top-width: 0 !important;
}

.custom-collapsible {
    margin-left: 0px !important;
    border-width: 0px !important;
    background-color: white !important;
}

.acol .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background:white !important;
}
.acol .ui-collapsible-heading-toggle {
    background: #d9ffb3 !important;
}

.goals_5 {
    color: white;
    background: #ff4000;
    font-size: .7em;
    position: relative;
    top: 5px;
    text-shadow: none;
}

.goals_4 {
    color: white;
    background: #ff5000;
    font-size: .7em;
    position: relative;
    top: 5px;
    text-shadow: none;
}

.goals_3 {
    color: white;
    background: #ff7000;
    font-size: .7em;
    position: relative;
    top: 5px;
    text-shadow: none;
}

.goals_2 {
    color: white;
    background: #ff9000;
    font-size: .7em;
    position: relative;
    top: 5px;
    text-shadow: none;
}

.goals_1 {
    color: white;
    background: #ffb000;
    font-size: .7em;
    position: relative;
    top: 5px;
    text-shadow: none;
}

.goals_0 {
    color: white;
    background: #979797;
    font-size: .7em;
    position: relative;
    top: 5px;
    text-shadow: none;
}


.custom-list {
    background: white !important;
}

.custom-list-correct {
    background: #d9ffb3 !important;
}

.custom-list-wrong {
    background: #ffcccc !important;
}

.custom-list-header {
    background: #ecf0f1 !important;
}

.custom-list-winner {
    background: #FFF380 !important;
}

.disabled-font {
    color: #979797;
}

.jackpot {
    font-size: .8em;
    position: absolute;
    right: 20px;
    top: 13px;
}

.lms_fixture {
    font-size: .7em;
    position: relative;
    top: -2px;
}

.gb-fixture {
    left: 16px;
    /*color: #979797;*/
    font-size: .8em;
    position: relative;
    top: 8px;
}

.gb-fixture-score {
    font-size: 1em;
    position: relative;
    top: 8px;
}

.gb-points {
    font-size: 12px;
}

.standings-form {
    display: inline-block;
    width: 0.2em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: .7rem;
    padding: 0px 0.1em;
    text-shadow: 0px 0px 0px #4d4d4d;
}

.standings-text {
    font-size: 11px;
}

.standings-qualify-text {
    background: #FFF380 !important;
    font-size: 11px;
}

.won {
    background: #5cb85c none repeat scroll 0% 0%;
}

.draw {
    background: #999999 none repeat scroll 0% 0%;
}

.lost {
    background: #d9534f none repeat scroll 0% 0%;
}

.points_100 {
    background: #ff4000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_90 {
    background: #ff4000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_80 {
    background: #ff5000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_70 {
    background: #ff6000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_60 {
    background: #ff7000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_50 {
    background: #ff8000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_40 {
    background: #ff9000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_30 {
    background: #ffa000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_20 {
    background: #ffb000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_10 {
    background: #ffc000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.points_0 {
    background: #ffd000;
    font-size: .7em;
    position: relative;
    top: 5px;
}

.bonus-points {
    background: #ffa000;
    font-size: .7em;
}

.ft-score {
    background: #fde05c;
    font-size: 1em;
    color: #000000;
    /*padding: 1em .4em .4em;*/
    display: inline-block;
    position: relative;
    top: -4px;
    /*width: 1em;*/
    height: 1.2em;
    line-height: 1.4em;
    text-align: center;
    vertical-align: middle;
}

.in-play-score {
    background: #4a71e9;
    font-size: 1em;
    display: inline-block;
    position: relative;
    top: -4px;
    height: 1.2em;
    line-height: 1.4em;
    text-align: center;
    vertical-align: middle;
}

.halftime-score {
    background: #999;
    font-size: 1em;
    display: inline-block;
    position: relative;
    top: -4px;
    height: 1.2em;
    line-height: 1.4em;
    text-align: center;
    vertical-align: middle;
}

.pending-score {
    background: #e6e6e6;
    font-size: 1em;
    color: #000000;
    /*padding: 1em .4em .4em;*/
    display: inline-block;
    position: relative;
    top: -4px;
    height: 1.2em;
    line-height: 1.4em;
    text-align: center;
    vertical-align: middle;
}

.postponed-score {
    background: #d9534f;
    font-size: 1em;
    display: inline-block;
    position: relative;
    top: -4px;
    height: 1.2em;
    line-height: 1.4em;
    text-align: center;
    vertical-align: middle;
}

.fa_opposing_team {
    font-size: .7em;
    position: relative;
    top: 2px;
}

.fa_team {
    font-size: .7em;
    position: relative;
    top: 1px;
}

.fa_flag {
    /*max-width: 8px;*/
    max-height: 8px;
    position: relative;
    top: -1px;
}

.fa_player {
    font-size: .7em;
}

.ui-radio input{

}

.radio-toolbar input[type="radio"] {

}

.radio-toolbar label {
    margin: 2px;
}

.custom-fill-winner {
    background: lightgreen;
    color: lightgreen;
}
