.ui-page .ui-header {
    background: #2C74B7 !important;
    /*background: #70A668 !important;*/
    border-color: lightgrey !important;
    border:0 !important;
    text-shadow: none !important;
}

.ui-page .ui-header .ui-btn {
    background:transparent;
    width: 60px;
}

.ui-page .ui-header .ui-btn-active {
    background: lightgrey !important;
}

.ui-page .ui-footer {
    background: #2C74B7 !important;
    /*background: #70A668 !important;*/
    border-color: lightgrey !important;
    border:0 !important;
    text-shadow: none !important;
}

.ui-page .ui-footer .ui-btn {
    background:transparent;
}

.ui-page .ui-footer .ui-btn-active {
    background: lightgrey !important;
}

.ui-page .ui-btn {
    background:white;
    border:1 !important;
    border-color: lightgrey;
    text-shadow: none !important;
    border-radius:0 !important;  /*makes buttons square*/
}

* {
    font-family: "Helvetica Neue" !important;
    font-weight: normal !important;
}

.ui-link-inherit {
    text-shadow: none !important;
    color: black !important;
}

.ui-btn-active {
    color: #2C74B7 !important;
    background: lightgrey !important;
    /*color: #70A668 !important;*/
    /*background: #FEFF77 !important;*/
}
