<% if TOGGLES_CONFIG['last_man_standing'] %>
    <li><a href="<%= lm_rounds_path %>">
      LMS
      <% if @user.lm_survivor? %>
          <span class="label label-success">&nbsp; &nbsp;</span>
      <% else %>
          <span class="label label-danger">&nbsp; &nbsp;</span>
      <% end %>
    </a></li>
<% end %>

<% if TOGGLES_CONFIG['goal_buster'] %>
    <li>
      <% path = @user.gb_bet.present? ? gb_points_path : new_gb_bet_path %>
      <a href="<%= path %>">Buster
        <% if @user.gb_bet.present? %>
            <span class="label label-default">&nbsp;<%= @user.gb_bet.team.gb_point.value %>&nbsp;</span>
        <% else %>
            <% if GbBet.count < Team.count %>
                <span class="label label-success">&nbsp; &nbsp;</span>
            <% else %>
                <span class="label label-danger">&nbsp; &nbsp;</span>
            <% end %>
        <% end %>
      </a>
    </li>
<% end %>