<!DOCTYPE html>
<html>
<div data-role=footer data-position=fixed>
  <div data-role=navbar>
    <ul>
      <li><a href="<%= weeks_path %>">H/D/A
        <span class="label label-default"><%= @user.position.current.ordinalize if @user.position.present? %></span>
      </a></li>

      <% partial = ENVIRONMENT_CONFIG["#{ENVIRONMENT_CONFIG['competition']}"]['type'] == 'club' ? 'common/club' : 'common/international' %>
      <%= render partial %>

    </ul>
  </div>
</div>
</html>