<!DOCTYPE html>
<html>
<div data-role=footer data-position=fixed>
  <div data-role=navbar>
    <ul>
      <li><a href="<%= weeks_path %>">Footy Forecast
        <span class="label label-default"><%= @user.position.current.ordinalize if @user.position.present? %></span>
      </a></li>
      <% if TOGGLES_CONFIG['last_man_standing'] %>
          <li><a href="<%= lm_rounds_path %>">
            LMS
            <% if @user.lm_survivor? %>
                <span class="label label-success">IN</span>
            <% else %>
                <span class="label label-danger">OUT</span>
            <% end %>
          </a></li>
      <% end %>
      <% if TOGGLES_CONFIG['five_alive'] %>
          <li><a href="<%= fa_bets_path %>">5 Alive</a></li>
      <% end %>
    </ul>
  </div>
</div>
</html>
