<% if TOGGLES_CONFIG['five_alive'] %>
    <li><a href="<%= fa_bets_path %>">5 Alive
      <span class="label label-default"><%= @user.fa_point.value if @user.fa_point.present? %></span>
    </a></li>
<% end %>

<% if TOGGLES_CONFIG['sweep'] %>
    <li>
      <% if Week.find(1).close_date > DateTime.now %>
          <% path = @user.sweep_bet.present? ? sweep_bets_path : new_sweep_bet_path %>
      <% else %>
          <% path = sweep_points_path %>
      <% end %>
      <a href="<%= path %>">Sweep
        <% if @user.in_sweep? || Bets::SweepBet.available? %>
            <span class="label label-success">&nbsp; &nbsp;</span>
        <% else %>
            <span class="label label-danger">&nbsp; &nbsp;</span>
        <% end %>
      </a>
    </li>
<% end %>