<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a data-rel="back"  data-theme="a" data-rel="" data-icon="back">Back</a>
  <h1><%= "Information" %></h1>
</div>

<div data-role="content">
Soon...
</div>
</html>