<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= weeks_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Information" %></h1>
</div>

<div class="kickoff" data-role="content">
  <%= "Environment: #{Rails.env}" %> <br>
  <%= "User: #{@user.name}" %> <br>
</div>
</html>
